---
layout: default
---
<section class="posts">
	{% for post in paginator.posts %}
	<div class="post">
		<h1><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></h1>
		<time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date_to_string: "ordinal", "US" }}</time>
		{% if post.header-image %}
		<img src="{{ site.url }}{{ post.header-image }}">
		{% endif %}
	</div>
	{% endfor %}
	<div class="paginator-links">
		{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path }}">Previous</a>
		{% endif %}
		<div class="page-number">
			{{ paginator.page }} of {{ paginator.total_pages }}
		</div>
		{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path }}">Next</a>
		{% endif %}
	</div>
</section>