section.posts {
	max-width: (3/4)*960px;
	margin: 0 auto;
	ul {
		list-style-type: none;
		margin-left: 0;
		li {
			display: grid;
			grid-template-columns: auto auto;
			time {
				text-align: right;
			}
		}
	}
}