---
---
body.phlog {
	// Typography
}

div.phlog {
	display: grid;
	min-height: 95vh;
}

// Gallery
.image-gallery {
	overflow: auto; 
	margin-left: -1%!important;
}
.image-gallery li {
	float: left; 
	display: block; 
	width: 100%;
	margin-bottom: 1em;
}
.image-gallery li a {
	text-align: center; 
	text-decoration: none!important; 
	color: #777;
}
.image-gallery li a img {
	width: 100%; 
	display: block;
}