---
title: DATE ME
permalink: /date.html
---

<!DOCTYPE html>
<html>

<head>
	{% include google-analytics.html %}
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="{{ page.title }}" property="og:title">
	<meta content="article" property="og:type">
    <meta content="{{ site.url }}/date/img/intro.jpg" property="og:image">
	<title>
		{% if page.title %}
		{{ page.title }}
		{% else %} 
		{{ site.title }} &mdash; {{ site.description }}
		{% endif %}
	</title>
	<link rel="shortcut icon" type:"image/png" href={{ "/favicon.png" | relative_url }}>
	<link rel="stylesheet" href="{{ "/assets/css/normalize.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
	<link rel="stylesheet" href="{{ "/assets/css/date.css" | relative_url }}">
</head>

<body class="date-me">
	<header><a href='{{ site.url }}/'>Try Cypress</a></header>
    <main class="date-me-content">
        <audio></audio>
        <h1>DATE ME</h1>
        <div id="one">
            <div class="image-container"><img src="/date/img/intro.jpg" /></div>
            <p>These are pictures of me. They are edited and superimposed for artistic effect. I hide my face under layers like I hide my voice under effects when I produce music. I bury it; it's a sign of insecurity.</p>
            <p>Also this lets you know I am artistic. I have creative aspirations. My compulsions plunge me variously into mania and heavy depressions.</p>
        </div>
        <div id="two">
            <h2>I am not a type of guy,</h2>
            <p>but I want to know what type of girl you are. This type of reduction has been typical of my relationships. I am seeking girls by the way. Guy seeking girl. That's the arrangement I prefer. What type of girl are you?</p>
            <div>
                <div style="float: left; margin-right: 1rem;" class="image-container"><img src="/date/img/sylvia1.jpg" /></div>
                <p>Perhaps you have memories from your past lives. If one of them is of crawling under the porch as the sleeping pills begin to snatch at your consciousness please DM me. They found you in time, that time. I'd like to ask you about your children. Your past children, that is. Erstwhile.</p>
                <p>Do you have children? I think I'd be okay with that. DM me. Caveat being you also had to have children in past lives, she is Freida and he was Nick. You wrote a poem for him.</p>
                <p>I've never experienced an ecstatic insight into my past lives. I'm not sure if they're real, by consequence. I haven't tried hard, but it seems tough to square with Christianity.</p>
                <p>If you know how to square the two please DM me. Also, if you have had ecstatic insights into your past lives, go ahead and DM me.</p>
            </div>
        </div>
        <div id="three">
            <h2>Don't DM me actually</h2>
            <p>It's better if you find me. I believe in synchronicities. It's like that movie Serendipity. Don't watch it. Just imagine the concept. I won't explain it here. If in the next few days someone else brings up the movie Serendipity, you should find me. That's certainly a sign.</p>
            <p>My mom used to say she had the gift of coincidence. I realize now this means she is spiritually attuned. Less so, recently. I call her often.</p>
            <p>Of the many priveleges I enjoy, the most important one is a strong family unit. My parents raised my brother and I well, and they remain very much in love. In this matter I am an outlier among my peers.</p>
        </div>
        <div class="wide-image-container"><img src="/date/img/header.jpg" /></div>
        <div id="four">
            <p>In spite of my gangly frame I have been called "Daddy." I now reject that moniker, for "Daddy" is a type of guy. I am not a type of guy. You might think I am, and you might always believe I am a type of guy, but I assure you that the fault lies in the categories subtly shifting in your head. They are trying to constrain me. Find me.</p>
            <p>Though, full disclosure, if I were a type of guy it would likely be a red flag type of guy. I exhibit certain narcissistic traits that I'll apologize for right now. DM me, you might like it.</p>
        </div>
        <div id="five">
            <h2 style="color: #ff30cb;">Red flag guy</h2>
            <p>I engage in what's called "love bombing." The initial spark of romance is simply too enticing, too addicting, for me to control myself. I get carried away and intensify at breakneck speed. Many like this; they found it overwhelming and different than what they've had before. But they didn't like when I eventually calmed down. I still loved, I assure you. I love everyone.</p>
            <p>I'll be taken by flights of fancy that usually last a few weeks. I'll expect you to be on board with all of them. Generally this means either giving me a lot of attention or leaving me alone entirely. I won't make it clear which one I want. I might sulk if you guess wrong.</p>
            <p>I'm starting to sound like a type of guy.</p>
            <p>Someone recently called me "accidentally brutal." This is because my manic states are between sensitive, exuberant romantic and temporarily embarrassed ambitious automaton. These phases are marked by a distinct and shocking lack of empathy for the people I love the most.</p>
            <p>Are you a horse girl? Okay.</p>
        </div>
        <div id="six">
            <ul>
                <strong>In the interest of:</strong>
                <li>Time</li>
                <li style="text-decoration: line-through">Money</li>
                <li>God</li>
                <li>Your circadian rhythm's revolt against blue light</li>
                <li>I wrote and recorded a 6 minute song about the Unabomber</li>
                <li>Business ideas you might've had</li>
                <li>Do you have business ideas? Are you that type of girl?</li>
                <li>There is a future</li>
            </ul>
        </div>
        <div id="seven">
            <h2>Neutral flag</h2>
            <div style="float: right; margin-left: 1rem" class="image-container"><img src="/date/img/sylvia2.jpg" /></div>
            <div>
                <p>Would you record an album about how you hear Sylvia speaking to you from the past? With vivid detail I'd like you to sing about the early stages of Sylvia's romance with Ted Hughes please. That'd be swell. I can help you record it, I have microphones and a Zoom handheld that I use for recording bird calls. I have a nice clip from the Mississippi Pallisades. I tried to use it in a song, but after three weeks of production I've lost interest in it.</p>
                <p>I have produced countless songs over the years. Most of them have been deleted.</p>
                <p>One of them was a shoegaze cover of "Caroline No" by the Beach Boys. I hid my voice behind squalling guitars and a high feedback delay. This was 6 years ago. It wasn't very good.</p>
                <p>What does it feel like to know you're eventually going to kill yourself?</p>
            </div>
        </div>
        <div id="eight">
            <h2>Are you getting a picture of me yet?</h2>
            <p>I would suggest not — that implies that I am some type of guy in your head. You're free to type me if you'd like or if you can't control yourself, but I wouldn't recommend it.</p>
            <p>We can try some standard categories though.</p>
            <p>What do I enjoy? Electricity. I wonder about 5G though, something about proximity. Eye contact is nice; I'm quite good at it — I've received compliments on my eye contact before. It holds the balance between assertion and reception, so it's not imposing. People don't get flustered by me, even though <strong style="font-size: 1.33rem;">I am 6'4</strong>. I smile easily and generally am just as worried about remaining out of my head as you. That puts many people at ease.</p>
        </div>
        <div id="nine">
            <h3 style="filter: blur(5px);">Here is a picture of me</h3>
            <div>
                <p>Here is a picture of me from my early 20s. This is the summer after I dropped out of my sophomore year of university. Some alchemical combination of smoking weed, drinking, and a self-conceptual crisis brewed severe social anxiety.</p>
                <div style="float: left; margin-right: 1rem;" class="image-container"><img src="/date/img/pizza.jpg" /></div>
                <p>One time I sat in the back of a class of about 25 people. This was the first day. The professor asked us each to say our name and major. Based on the layout of the room and my professor's cruel disposition, he began with the front right seat and continued in a snaking pattern — yes, he knew I would be last. He clocked me as a sad sack, anxious, unhealthy bastard from the moment I sat in that back left seat. I sweat and my heart drilled.</p>
                <p>The summer of that picture I delivered pizzas out of my dad's Nissan Altima. That's the hat: Sarpino's Pizza. I would work 14 hour shifts. We didn't have a lunch break, so I ate a Wendy's bacon cheeseburger picked up from the drive through just about every day. I don't eat sugar anymore.</p>
                <p>I got over my anxiety too. It took about 2 years, during which I worked as a custodian at a public library.</p>
            </div>
        </div>
        <div id="ten">
            <h2>"I used to hear my own voice talking to me,"</h2>
            <p>A single thought will spiral in my head for a while. I used to hear my own voice talking to me, in benign hypnagogic hallucinations or when I smoked weed. I heard "Frank Lloyd Wright" — just the repetition of the man's name — for the length of a 10 minute bout of sleep paralysis.</p>
            <p>I don't get this so much anymore. I have intrusive thoughts. These are nice, sometimes they are clever and often retarded. I'll tweet them. But if you were with me, I'd tell them to you. I'd be able to delete my Twitter and be free. You would receive my tweets, you alone.</p>
        </div>
        <div id="eleven">
            <h2>Green flag</h2>
            <p>Every other night or so, I'll spend the 30 minutes before I go to bed dancing. I have a playlist on Spotify called "dancin'". I'll work up a light sweat. My bedroom in the apartment I'm currently living in has weird internal windows. When I turn the lights off on the other side, my body looks pretty good in the reflection. The lights directly above me shine down and cast epic shadows over my rear delts and pecs.</p>
            <p>That's not why I dance though. It's not vanity. I only realized this lighting feature after I took off my sweater because I was getting hot while "Canned Heat" by Jamiroquai hit the bridge.</p>
        </div>
        <div class="wide-image-container"><img src="/date/img/header2.jpg" /></div>
        <div id="twelve">
            <p>"Christian Mystic" is how I've referred to myself in the past. Now it strikes me as a type of guy. Also have identified myself as "Becoming Christian." Is this cringe? I think cringe is Good.</p>
            <p>I had a religious experience on LSD, but that's not why I believe in God. I also don't know if I'd do LSD again. Those trips were very intense, and I don't feel any particular desire to do it again. I have some though. DM me.</p>
        </div>
        <h3>I like to take long walks but not alone, so I haven't gone walking much lately.</h3>
    </main>

</body>

</html>